<%- include('../partials/header') %>

<section>
    
    <div>Subject: </div>
    <div><%= post.subject %></div><br>
    <div>Author: </div>
    <div><%= post.user.name %></div><br>
    <div>Post:</div>
    <div><%= post.body %></div><br>
    <% if (user.id == post.user._id) { %>
    <div>
        <form action="/posts/update/<%= post._id %>"><input type="submit" value="Update Post"></form>
    </div>
    <div>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST"><input type="submit" value="Delete Post"></form>
    </div>
    <% } %>
    <div>Comments:</div>
  </section>
<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% post.comments.forEach(function(c) { %>
        <tr>
          <td><%= c.user.name %></td>
          <td><%= c.body %></td>
          <td><a href="/index/<%= posts %>">GO BACK</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <form action="/comments" method="POST">
      <textarea name="body" required></textarea>
      <input type="submit" value="Submit Comment">
    </form>
   
  <%- include('../partials/footer') %>