<%- include('../partials/header') %>

<section>
    
    <div>Subject: </div>
    <div><%= post.subject %></div><br>
    <div>Author: </div>
    <div><%= post.user.name %></div><br>
    <div>Post:</div>
    <div><%= post.body %></div><br>
    <% if (user.id == post.user._id) { %>
    <div>
        <form action="/posts/update/<%= post._id %>"><button type="submit" class="button is-link">Update Post</button></form>
    </div>
    <br>
    <div>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST"><button type="submit" class="button is-danger">DELETE POST</form>
    </div>
    <% } %>
    <div>Comments:</div>
  </section>
  <% if (post.comments.length) { %>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
        <% post.comments.forEach(function(c) { %>
        <tr>
          <td> <%= c.user %> </td>
          <td> <%= c.body %> </td>
        </tr>
        <% }) %>
        <% } %>
      </tbody>
    </table>
    <form method="POST" action="/posts/<%= post._id %>/comments">
      <textarea name="body" required></textarea>
      <button type="submit" class="button is-primary">Submit Comment</button>
    </form>
    <a href="/posts" class="button is-link">GO BACK</a>
   
  <%- include('../partials/footer') %>