<%- include('../partials/header') %>

<section>
    
    <div>Subject: </div>
    <div><%= post.subject %></div>
    <div>Author: </div>
    <div><%= post.user.name %></div>
   
    <div><%= post.body %></div>
    <div><% if (user) { %><input action="/posts" method="PUT"type="submit" value="Update Post"><% } %></div>
    <div><% if (user) { %><input action="/posts" method="DELETE"type="submit" value="Delete Post"><% } %></div>
    <div>Comments:</div>
  </section>
<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% if (user) { %>
      <input action="/posts" method="DELETE"type="submit" value="Delete Comment">
      <% } %>
   
  <%- include('../partials/footer') %>