<%- include('../partials/header') %>
<h1>UPDATE POST</h1>
<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
  <input value="<%= post.subject %>" type="text" name="subject">
  <textarea name="body"><%= post.body %></textarea>
  <button type="submit" class="button is-link">Update Post</button>
</form>

<%- include('../partials/footer') %>