<%- include('../partials/header') %>
<br>
<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
  Subject:<input value="<%= post.subject %>" type="text" class="input" name="subject">
  <br>
  <br>
  Body:
  <textarea name="body" class="textarea"><%= post.body %></textarea>
  <br>
  <button type="submit" class="button is-success">Update Post</button>
</form>
<br>
<br>
<a href="/posts/<%= post._id %>" class="button is-link">GO BACK</a>
<%- include('../partials/footer') %>